body{
  top:0%;
  margin: 0%;
  background-color: #d8e6f1;
}
#navbar{ background-color: #002D62;
    top:0%;
    margin:0%;
    width: 100%;
    height:40px;
    position: fixed;
    border-bottom:3px solid #0066b2;
    
}

#logo{
  font-size: 3vh;
  margin-left: 2vw;
  color: aliceblue;
  text-decoration: none;
}
#Home,#passengers{
  text-decoration: none;
  margin-left:25vw;
  font-size: 2vh;
  color: aliceblue;
}
#Home:hover,
#passengers:hover{
  border-bottom:1px solid #89CFF0;
}
.Container{
  margin-left: 5vw;
  display:flex;
  height:40vh;
  width:30vw;
  margin-top: 30vh;
  position: absolute;
  flex-direction: column;
}
.Child{
  margin-top:3px;
}
.input{
    height:4vh;
    width:20vw;
    font-size:2vh;
    padding-top:1.3vh ;
    padding-left:0.4vw;
    border:0.2px solid grey;
    font-family: 'Times New Roman', Times, serif;
}
#Date{
    height:3vh;
    width:13vw;
    font-size:2vh;
    font-family: 'Times New Roman', Times, serif;
    padding-top:1vh ;
    padding-left:0.4vw;
}
span{
  font-size: 5vh;
  color:#012169;
  display:inline-block;
  margin-top: 20vh;
  position: absolute;
  margin-left: 5vw;
  font-family:   'DM Serif Display';
}
#submit{
  font-size: 2.5vh;
  font-family:'Times  New Roman' ;
  margin-top: 2vh;
  background-color: #1E90FF;
  color:aliceblue;
  border:none;
  border-radius: 8px;
  margin-left: 5vw;
  padding:8px 8px 8px 8px;

}
#submit:hover{
  background-color: #007ed8;
}

body{
  top:0%;
  margin: 0%;
  background-color: #d8e6f1;
}
#navbar{ background-color: #002D62;
    top:0%;
    margin:0%;
    width: 100%;
    height:40px;
    position: fixed;
    border-bottom:3px solid #0066b2;
    
}

#logo{
  font-size: 3vh;
  margin-left: 2vw;
  color: aliceblue;
  text-decoration: none;
}
#Home,#passengers{
  text-decoration: none;
  margin-left:25vw;
  font-size: 2vh;
  color: aliceblue;
}
#Home:hover,
#passengers:hover{
  border-bottom:1px solid #89CFF0;
}
.Container{
  margin-left: 5vw;
  display:flex;
  height:40vh;
  width:30vw;
  margin-top: 30vh;
  position: absolute;
  flex-direction: column;
}
.Child{
  margin-top:3px;
}
.input{
    height:4vh;
    width:20vw;
    font-size:2vh;
    padding-top:1.3vh ;
    padding-left:0.4vw;
    border:0.2px solid grey;
    font-family: 'Times New Roman', Times, serif;
}
#Date{
    height:3vh;
    width:13vw;
    font-size:2vh;
    font-family: 'Times New Roman', Times, serif;
    padding-top:1vh ;
    padding-left:0.4vw;
}
span{
  font-size: 5vh;
  color:#012169;
  display:inline-block;
  margin-top: 20vh;
  position: absolute;
  margin-left: 5vw;
  font-family:   'DM Serif Display';
}
#submit{
  font-size: 2.5vh;
  font-family:'Times  New Roman' ;
  margin-top: 2vh;
  background-color: #1E90FF;
  color:aliceblue;
  border:none;
  border-radius: 8px;
  margin-left: 5vw;
  padding:8px 8px 8px 8px;

}
#submit:hover{
  background-color: #007ed8;
}

body{
  top:0%;
  margin: 0%;
  background-color: #d8e6f1;
}
#navbar{ background-color: #002D62;
    top:0%;
    margin:0%;
    width: 100%;
    height:40px;
    position: fixed;
    border-bottom:3px solid #0066b2;
    
}

#logo{
  font-size: 3vh;
  margin-left: 2vw;
  color: aliceblue;
  text-decoration: none;
}
#Home,#passengers{
  text-decoration: none;
  margin-left:25vw;
  font-size: 2vh;
  color: aliceblue;
}
#Home:hover,
#passengers:hover{
  border-bottom:1px solid #89CFF0;
}
.Container{
  margin-left: 5vw;
  display:flex;
  height:40vh;
  width:30vw;
  margin-top: 30vh;
  position: absolute;
  flex-direction: column;
}
.Child{
  margin-top:3px;
}
.input{
    height:4vh;
    width:20vw;
    font-size:2vh;
    padding-top:1.3vh ;
    padding-left:0.4vw;
    border:0.2px solid grey;
    font-family: 'Times New Roman', Times, serif;
}
#Date{
    height:3vh;
    width:13vw;
    font-size:2vh;
    font-family: 'Times New Roman', Times, serif;
    padding-top:1vh ;
    padding-left:0.4vw;
}
span{
  font-size: 5vh;
  color:#012169;
  display:inline-block;
  margin-top: 20vh;
  position: absolute;
  margin-left: 5vw;
  font-family:   'DM Serif Display';
}
#submit{
  font-size: 2.5vh;
  font-family:'Times  New Roman' ;
  margin-top: 2vh;
  background-color: #1E90FF;
  color:aliceblue;
  border:none;
  border-radius: 8px;
  margin-left: 5vw;
  padding:8px 8px 8px 8px;

}
#submit:hover{
  background-color: #007ed8;
}body{
  top:0%;
  margin: 0%;
  background-color: #d8e6f1;
}
#navbar{ background-color: #002D62;
    top:0%;
    margin:0%;
    width: 100%;
    height:40px;
    position: fixed;
    border-bottom:3px solid #0066b2;
    
}

#logo{
  font-size: 3vh;
  margin-left: 2vw;
  color: aliceblue;
  text-decoration: none;
}
#Home,#passengers{
  text-decoration: none;
  margin-left:25vw;
  font-size: 2vh;
  color: aliceblue;
}
#Home:hover,
#passengers:hover{
  border-bottom:1px solid #89CFF0;
}
.Container{
  margin-left: 5vw;
  display:flex;
  height:40vh;
  width:30vw;
  margin-top: 30vh;
  position: absolute;
  flex-direction: column;
}
.Child{
  margin-top:3px;
}
.input{
    height:4vh;
    width:20vw;
    font-size:2vh;
    padding-top:1.3vh ;
    padding-left:0.4vw;
    border:0.2px solid grey;
    font-family: 'Times New Roman', Times, serif;
}
#Date{
    height:3vh;
    width:13vw;
    font-size:2vh;
    font-family: 'Times New Roman', Times, serif;
    padding-top:1vh ;
    padding-left:0.4vw;
}
span{
  font-size: 5vh;
  color:#012169;
  display:inline-block;
  margin-top: 20vh;
  position: absolute;
  margin-left: 5vw;
  font-family:   'DM Serif Display';
}
#submit{
  font-size: 2.5vh;
  font-family:'Times  New Roman' ;
  margin-top: 2vh;
  background-color: #1E90FF;
  color:aliceblue;
  border:none;
  border-radius: 8px;
  margin-left: 5vw;
  padding:8px 8px 8px 8px;

}
#submit:hover{
  background-color: #007ed8;
}

#msg{
  color:red;
  font-family:   'DM Serif Display';
}



/* responsive */

@media (max-width:700px) {
  
  #navbar{ background-color: #002D62;
    top:0%;
    margin:0%;
    width: 100%;
    height:50px;
    position: fixed;
    border-bottom:3px solid #0066b2;
    
}

#logo{
  position:absolute;
}
#Home{
  margin-left:53vw;
  font-size: 2vh;
  position:absolute;
  margin-top: 1vh;
}

#passengers{
  margin-left:70vw;
  font-size: 2vh;
  position:absolute;
  margin-top: 1vh;
}

.Container{

  height:41.5vh;
  width:81vw;
}

.input{
  height:4vh;
  width:78vw;
}

#Date{
  width:70vw;
}
#submit{
  width: 79vw;
 
}
}
